.content {
  line-height: 1.15rem;
  display: flex;
  margin: 5rem;
  margin-top: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
  order: 1;

  h1,
  h2 {
    text-align: center;
  }
}

.sidebar {
  background-color: #eee6ff;
  margin: 1rem;
  min-width: 20rem;
  order: 2;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.profileImage {
  max-width: 20rem;
  max-height: 20rem;
  clip-path: circle(50% at 50% 50%);
  padding: none;
  align-self: center;
}

.stats {
  display: flex;

  h3 {
    border-bottom: 1px solid darkgrey;
    text-align: center;
    width: 100%;
  }

  ul {
    list-style: none;
    padding-inline-start: 0;

    li {
      flex: auto-fill;
      width: 100%;

      label {
        width: 100%;
        border-bottom: 1px solid darkgrey;
      }
    }
  }
}

@media all and (min-width: 500px) {
  .sidebar {
    flex: 1 0 0;
    order: 2;
  }
}

@media all and (max-width: 900px) {
  .content {
    margin: 1rem;
  }
}

@media all and (min-width: 900px) {
  .content {
    order: 1;
    flex: 8 0px;
  }
  .sidebar {
    flex: 3 0px;
  }
}
