.footer {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  justify-items: center;
  min-height: 25vh;
}

.footerLinks {
  display: flex;
  align-content: center;
  align-self: center;
}

.copyright {
  align-self: center;
}

.footer a {
  padding: 2rem;
}

.footerLinks svg {
  min-height: 1rem;
}
