@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Delius", -apple-system, Helvetica Neue, sans-serif;
}

body {
  display: flex;
  flex-flow: row wrap;
}

/*  Everything inside the body */
body > * {
  flex: 1 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
