.hamburger {
  display: none;
  margin: 1rem;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  padding: 0;
  right: 1.5rem;
  top: 20px;

  &:focus {
    outline: none;
  }

  .barOne,
  .barTwo,
  .barThree {
    width: 2rem;
    height: 0.25rem;
    background: #333b54;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
  }

  .barOne {
    transform: rotate(0);
  }

  .barTwo {
    opacity: 1;
  }

  .barThree {
    transform: rotate(0);
  }

  [open] & {
    .barOne {
      transform: rotate(45deg);
    }

    .barTwo {
      opacity: 0;
    }

    .barThree {
      transform: rotate(-45deg);
    }
  }

  @media all and (max-width: 500px) {
    display: flex;
  }
}
