.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.container {
  background-image: url("../public/images/home.jpg");
  background-position: cover;
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title,
.subtitle {
  margin: 0;
  color: #fafafa;
  text-shadow: 3px 3px 10px #000000;
  line-height: 1.15;
  font-size: 4rem;
  font-family: "Montserrat", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  align-self: center;
  justify-self: flex-end;
}

.subtitle {
  font-size: 2rem;
  padding-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media all and (max-width: 900px) {
  .title,
  .subtitle {
    justify-self: center;
  }
}
