.mobileLogo {
  align-self: center;
}

.logo {
  max-width: 3rem;
}

.linkList {
  list-style: none;
}

.mobileHeader {
  max-height: 5rem;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.mobileHeader i {
  margin-top: 2rem;
  margin-left: 2rem;
}

@media all and (max-width: 900px) {
  .mobileNavigation {
    display: inline-block;
  }
}

@media all and (min-width: 900px) {
  .mobileNavigation {
    display: none;
  }
}
