.desktopNav {
  z-index: 2;
  top: 0px;
}

.desktopNav ul {
  flex: 1;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktopNav ul li {
  padding-left: 3rem;
  padding-right: 3rem;
}

@media (min-width: 900px) {
  .desktopNav {
    display: flex;
  }

  .mobileNav {
    display: none;
  }
}

@media (max-width: 900px) {
  .desktopNav {
    display: none;
  }

  .mobileNav {
    display: flex;
  }
}
