.navigation {
  z-index: 2;
  top: 0px;
  flex: 1;
  flex-direction: row;
  display: flex;
}

.linkContainer {
  display: flex;
  align-self: flex-end;
  flex: 1;
}

.navigation ul li {
  margin: 1rem;
}

.navigation img {
  margin-left: 2rem;
  margin-top: 2rem;
}

.linkList {
  flex: 1;
  flex-direction: row;
  display: flex;
  margin-right: 2rem;
  list-style-type: none;
}

.linkList ul {
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 5rem;
}

/* .linkList ul li {
  padding-left: 3rem;
  padding-right: 3rem;
} */

/* @media (min-width: 900px) {
  .desktopNav {
    display: flex;
  }

  .mobileNav {
    display: none;
  }
}*/

@media (max-width: 900px) {
  .navigation ul li {
    padding: 0;
  }
}
