.linkList {
  list-style-type: none;

  ul {
    flex: 1;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
}

.logo {
  max-width: 5rem;
}
