.linkList {
  list-style-type: none;
}

.linkList ul {
  flex: 1;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 5rem;
}

.linkList ul li {
  padding-left: 3rem;
  padding-right: 3rem;
}
