.resumeContent {
  line-height: 1.15rem;
  letter-spacing: 0.01rem;
  display: flex;
  margin: 5rem;
  margin-top: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
  order: 1;
}

.resumeSection {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
}

.jobsContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: column;
  align-items: center;
  flex-flow: column;
}

.jobCard {
  margin-top: 2rem;
  width: 100%;
  padding: 2rem;
  flex-wrap: wrap;
  border: 1px solid lightgrey;
  border-radius: 25px;
}

.technologies li {
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.technologies li::marker {
  content: "✨";
}

@media all and (max-width: 900px) {
  .resumeContent {
    margin: 1rem;
  }
}
